// Blues
$weber-blue-dark: #002c5f;
$weber-blue-dark-hover: #406187;
$weber-blue-light: #0077c8;
$weber-blue-lighter: #e5f1fa;
$weber-blue-lighter-hover: #cbe2f4;
$weber-blue-25: #c8ddf4;
$weber-blue-overlay-rgb: rgba(0, 44, 94, 0.8);

// Oranges
$weber-orange: #ee7000;
$weber-orange-hover: #ff9a40;

// Greys
$weber-lightest-grey: #9198b6;
$weber-light-grey: #f3f3f3;
$weber-light-grey-2: #e7e7e7;
$weber-grey: #868686;
$weber-grey-dark: #868686;
$weber-dark-grey: #676c81;
$weber-bg-grey: #d9dae7;
$weber-grey-light: #f3f3f3;
$weber-grey-border: #e6e6e6;

// Backgrounds
$weber-bg-white: #ffffff;

// Text
$weber-content-black: #000000;
$weber-black: #000000;
$weber-white: #ffffff;
